rules_version = '2';

function isAuthentificated() {
    return request.auth != null;
}

function isUserAuthenticated(userId) {
    return isAnyAuthentificated() && userId == request.auth.uid;
}

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdministrator() {
      return get(/databases/$(database)/documents/user/$(request.auth.uid)).isAdministrator
    }

    match /users/{userId} {
      allow read: isAuthentificated()
            && isUserAuthenticated(userId);
      allow create, update: isAuthentificated()
            && isUserAuthenticated(userId);
    }

    match /circles/{circleId} {
      allow read: true;
      allow write: isAdministrator();
    }

    match /actors/{actorId} {
      allow read: true;
      allow write: isAdministrator();
    }

    match /articles/{articleId} {
      allow read: true;
      allow write: isAdministrator();
    }

    match /tags/{tagId} {
      allow read: true;
      allow write: isAdministrator();
    }

    match /reviews/{reviewId} {
      allow read: true;
      allow write: isAdministrator();
    }
  }
}
